// colors -----------------------------------------------------
$primary: #92278f;
$danger: #050;
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark

$enable-negative-margins: true;

$theme-colors: (
  "primary": $primary,
);